<body>
    <div class="Container1">
        <div class="LogoInicio">
            <h1>Bem Vindo!</h1>
            <h2>É um prazer ter você conosco</h2>
            <img src="~/img/LogoInicio.png" width="500" height="500">

            <h2>Quem Somos: </h2>

            <h2> A Barbearia Silva é mais do que um simples salão de beleza; é um espaço onde estilo, conforto e tradição se encontram. Fundada com a missão de proporcionar cortes de cabelo e serviços de barbearia de alta qualidade, nossa barbearia se destaca por sua atenção aos detalhes e atendimento personalizado. Nossa equipe de barbeiros experientes está sempre atualizada com as últimas tendências e técnicas, garantindo que cada cliente saia satisfeito e com um visual impecável. Venha nos visitar e descubra por que a Barbearia Silva é o destino preferido para quem busca excelência em cuidados masculinos.</h2>
        
         
            <button>
               
                    <a href="Views/AgendamentoViewModel.cs"> Marque aqui seu Horario</a>
               
            </button>

        
        </div>
    </div>

</body>