@model BarbeariaSilva.Models.ClienteViewModel

<body>

    <div class="Container1">


        <form asp-controller="Home" asp-action="Login" method="post">
            <row>
                <div>
                    <input class="col-4" type="text" asp-for="Nome" name="Nome" required />
                </div>
            </row>
            <row>
                <div>
                    <input class="col-4" type="password" asp-for="Senha" name="Senha" required />
                </div>
            </row>
            <row>
                <div class="col-.6">
                    <button type="submit" class="EnviarInicio">Login</button>
                </div>
            </row>

            <h2> ______________ OU ______________ </h2>

            <row>
                <div class="col-12"> ESQUECEU A SENHA?</div>
            </row>

            <row>
                <p>NÃO TEM CONTA?</p>
                <button onclick="CadastroCliente()">Cadastre-se como Cliente </button>
                <button onclick="CadastroBarbeiro()">Cadastre-se como Barbeiro </button>
            </row>
        </form>
    </div>
</body>

