@model BarbeariaSilva.Models.ClienteViewModel

@{
        ViewData["Title"] = "Cadastro de Cliente";
    
}

<h2>Cadastro de Cliente</h2>

<form asp-controller="Home" asp-action="Register" method="post" novalidate>
 
    <div class="form-group">
        <label asp-for="nome"></label>
        <input asp-for="nome" class="form-control" />
        <span asp-validation-for="nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email"></label>
        <input asp-for="email" class="form-control" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="senha"></label>
        <input asp-for="senha" class="form-control" type="password" />
        <span asp-validation-for="senha" class="text-danger"></span>
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar Cliente</button>
</form> 